body{
    background-image: url(https://login.newpaltz.edu/cas/themes/newpaltz/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.form-signin {
    background: white;
    border-radius: 15px;
}