body{
    background-image: url(https://login.newpaltz.edu/cas/themes/newpaltz/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.form-signin {
    background: white;
    border-radius: 15px;
}

.jumbotron{
    border-radius: 0px 0px 1.3rem 1.3rem;
}

#sidebar-wrapper > div.sidebar-heading > h4{
    font-family: 'Baloo Thambi 2', cursive;
    text-align: center;
}