
.form-signin {
    background: white;
    border-radius: 15px;
}

.jumbotron{
    border-radius: 0px 0px 1.3rem 1.3rem;
}

#sidebar-wrapper > div.sidebar-heading > h4{
    font-family: 'Baloo Thambi 2', cursive;
    text-align: center; 
}

.progressB {
    width: 64vh; 
    height: 100px;
}

#coursetbl_wrapper, #departmenttbl_wrapper, #worktbl_wrapper{
    background: white;
    padding: 11px;
    border-radius: 10px;
}

.review-sections{
    background: white;
    padding: 11px;
    border-radius: 10px;
}
.sidebar-heading{
    margin: 5px;
    padding-right: 20px;
    border-right-width: 5px;
    border-radius: 14px;
}
#sidebar-wrapper > img{
    display: none;
}
.wflowstyle{
    background: white;
     border-radius: 10px;
} 
@media (max-width: 1270px){
    .progressB {
        width: 100%; 
        height: 50%;
        display: none;
    }
    .card {
      width: 100%; 
    }
    
}