
div {
  padding: 20px;
}


.buttonHolder {
  background-color: #e7e1d5;
  padding: 20px;
  margin: 7px;
  border-radius: 10px;
}

.sequenceButton {
  background-color: #f58426;
  border: 1px solid black;
}

.loButton {
  background-color: #f58426;
  border: 1px solid black;
}

.dragTarget {
	border: 1px solid #000000;
}


